.wrapper {
  width: 100%;
  height: 100%;
  padding: 120px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    padding: 20px;
  }
}

.videoWrapper {
  width: 100%;
  max-width: 960px;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 20px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.title {
  flex: 0 0 auto;
  font-weight: 700;
  font-size: 13px;
  line-height: 9px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
