.progress {
  display: flex;
  flex-direction: column;
}

.progressItem {
  @apply bg-accent-green;
  height: 40px;
  width: 2px;
  opacity: 0.2;
  transition: all 0.5s;

  &.active {
    opacity: 1;
  }

  @media (max-width: 1024px) {
    height: 20px;
  }
}
